*{
    padding: 0;
    margin: 0;
}


body{
    display: flex;
    
    flex-direction: column;
    background-color: slategrey;

    align-items: center;
    justify-content: space-between;
    height: 800px;
    margin: 50px auto;
}
.header{
    display: flex;
    width: 500px;
    justify-content: space-around;
}
.footer{
    display: flex;
    justify-content: space-around;
    width: 500px;
}

.board{
    background-color: whitesmoke;
   
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    
}


